*{
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(227, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container{
    width: 470px;
    border: 1px solid purple;
    padding:20px;
}

p{
    font-size: 1rem;
    font-family: monospace;
    margin-bottom: 10px;
}

.ball{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translateX(0px);
}

.ball:active{
    transform: translateX(400px);
}

#ball1{
    background-color: rgb(255, 185, 81);
    transition: transform 2s;
    background-image: url(/images/glacier.jpg);
}

#ball2{
    background-color: rgb(180, 115, 255);
    transition: transform linear 2s;
    background-image: url(/images/hallow.jpg);
}


#ball3{
    background-color: rgb(115, 255, 201);
    transition: transform ease-in 2s;
    background-image: url(/images/purple.jpg);
}


#ball4{
    background-color: rgb(255, 221, 25);
    transition: transform ease-out 2s;
    background-image: url(/images/trees.jpg);
}

#ball5{
    background-color: rgb(255, 95, 95);
    transition: transform ease-in-out 2s;
    background-image: url(/images/newfoundland.jpg);
}


